<div style="padding:30px ;">
    <h1>Esta é uma resolução de um exercicio sobre handlebars</h1>
    <br>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt impedit aperiam in qui, similique quas, totam autem itaque a magni eligendi nisi sit quis incidunt provident. 
        Animi consectetur repudiandae nobis.
    </p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, enim deserunt dolor voluptate fuga esse, nulla officiis beatae rem libero nesciunt. Similique commodi molestiae eaque sapiente earum ex veniam nemo!</p>
</div>