@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;700&display=swap');

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 10px;


}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h6,
h5 {
    font-size: 12px;
}

h4,
h3 {
    font-size: 16px;
}

h2,
h1 {
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Roboto';
}


header {
    padding: 30px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding-right: 10px;
    font-size: 18px;
}

header ul li a {
    text-decoration: none;
    color: black;

}

header ul li a:hover {
    text-decoration: underline;
    color: rgb(21, 21, 159);
}

footer {
    position: relative;
    bottom: 0;
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card img {
    margin-bottom: 30px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column h2 {
    font-size: 16px;
}

.productImage {
    width: 500px;
    height: 500px;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h2 {
    text-align: center;
    font-size: 18px;
}

.text a {
    padding-top: 10px;
}

.card a {
    color: #222;
    font-size: 20px;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
    color: blue;
}

p {
    font-size: 18px;
}

p span,
.price {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}


.description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.descriptionP2 {
    display: grid;
    grid-template-columns: 1fr;
}


.description ul,
.descriptionP2 ul {
    width: 100%;
    list-style: none;
}

.description div ul li,
.descriptionP2 div ul li {
    padding: 5px;
}