<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header id="menu">
        <nav>
            <ul>
                <li>
                    <a href="/" >Home</a>
                </li>
                <li>
                    <a href="/produtos" >Produtos</a>
                </li>
            
                <li>
                    <a href="/sobre" >Sobre</a>
                </li>
      
            
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer class="center">
        &copy; 2022 - todos os direitos reservados.
    </footer>
</body>
</html>